<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_nl}">

<body>

<div layout:fragment="main-content">
    <form th:action= "@{/project/save}" th:object="${project}" method="post">

        <div class="row">
            <div class="mb-3">
                <div> <label for="projectname" th:text="#{form.project.name}"> Nazwa </label> </div>
                <div>
                    <input id="projectname" type="text"
                           th:field="*{projectname}"
                           placeholder="Nazwa projektu"
                           th:class=" 'form-control ' +${#fields.hasErrors('projectname') ? 'is-invalid' : ''}"/>
                    <small th:if="${#fields.hasErrors('projectname')}"
                           th:errors="*{projectname}"
                           class = "text-danger">
                    </small>
                </div>

                <div> <label for="description" th:text="#{form.project.description}"> Opis projektu </label> </div>
                <div>
                    <input id="description" type="text" maxlength="500"
                           th:field="*{description}"
                           placeholder="Opis projektu"
                           th:class=" 'form-control ' +${#fields.hasErrors('description') ? 'is-invalid' : ''}"/>
                    <small th:if="${#fields.hasErrors('description')}"
                           th:errors="*{description}"
                           class = "text-danger">
                    </small>
                </div>

                <button type="submit" class="btn btn-primary" th:text="Zapisz"></button>


            </div>
        </div>


    </form>

</div>

</body>
</html>