<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="main-content">

    <div class="container">
        <H1 th:if="${id}" th:text="#{form.project.old}" ></H1>
        <H1 th:unless="${id}" th:text="#{form.project.new}" ></H1>
        <br>
    <form th:action= "@{/project/save}" th:object="${project}" method="post">

        <input type="hidden" th:field="*{id}"/>

        <div class="row">
            <div>
                <div class="col-md-auto mb-3">
                <div> <label for="projectname" th:text="#{form.project.name}"> Nazwa </label> </div>
                <div>
                    <input id="projectname" type="text"
                           th:field="*{projectname}"
                           th:placeholder="#{form.project.name}"
                           th:class=" 'form-control ' +${#fields.hasErrors('projectname') ? 'is-invalid' : ''}"/>
                    <small th:if="${#fields.hasErrors('projectname')}"
                           th:errors="*{projectname}"
                           class = "text-danger">
                    </small>
                </div>
                </div>

                <div class="col-md-auto mb-3">
                <div> <label for="description" th:text="#{form.project.description}"> Opis projektu </label> </div>
                <div>
                    <textarea id="description" rows="3" maxlength="500"
                           th:field="*{description}"
                           th:placeholder="#{form.project.description}"
                              th:class=" 'form-control ' +${#fields.hasErrors('description') ? 'is-invalid' : ''}"></textarea>
                    <small th:if="${#fields.hasErrors('description')}"
                           th:errors="*{description}"
                           class = "text-danger">
                    </small>
                </div>

                </div>
<br>
                <div class="d-grid gap-2 d-md-block">
                    <button type="submit" class="btn btn-primary " th:text="#{form.user.save}">Zapisz</button>
                    <a th:href="@{'/project/delete/' + ${project.id}}"
                       th:if="${project.id}"
                       class="btn btn-danger" th:text="#{form.user.delete}">
                        Usuń
                    </a>
                    <a th:href="@{/project/}"
                        class="btn btn-info" th:text="#{form.user.cancel}">
                        Anuluj
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
</div>

</body>
</html>