<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="main-content">
  <div class="container">

    <form th:action= "@{/people/changepass}" th:object="${person}" method="post">

      <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{username}"/>
        <input type="hidden" th:field="*{userRealName}"/>
        <input type="hidden" th:field="*{email}"/>

      <H1  th:text="#{form.user.changepass} + ': '+ ${person.username}" ></H1>

      <div class="row">

          <div> <label for="password" th:text="#{form.user.password}"> hasło </label> </div>
          <div>
            <input id="password"
                   type="password"
                   th:field="*{password}"
                   th:placeholder="#{form.user.password}"
                   th:class="'form-control ' +${#fields.hasErrors('password') ? 'is-invalid' : ''}" />
            <small th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}"
                   class = "text-danger">
            </small>
          </div>

          <div> <label for="repeatedPassword" th:text="#{form.user.repeatedpassword}"> powtórzone hasło </label> </div>
          <div>
            <input id="repeatedPassword"
                   type="password"
                   th:field="*{repeatedPassword}"
                   th:placeholder="#{form.user.repeatedpassword}"
                   th:class="'form-control ' +${#fields.hasErrors('repeatedPassword') ? 'is-invalid' : ''}" />
            <small th:if="${#fields.hasErrors('repeatedPassword')}"
                   th:errors="*{repeatedPassword}"
                   class = "text-danger">
            </small>
          </div>
        </div>

      <div>
<br>
        <button type="submit" class="btn btn-primary" th:text="#{form.user.save}"></button>

        <a th:href="@{/people/}"
           class="btn btn-info" th:text="#{form.user.cancel}">
          Anuluj
        </a>

      </div>
    </form>

  </div>
</div>

</body>
</html>