<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="main-content">

    <form th:action= "@{/people/save}" th:object="${person}" method="post">

        <input type="hidden" th:field="*{id}"/>

        <div th:if="${param.error}" class="alert alert-danger">
            <span th:text="#{form.user.error}"></span>
        </div>

        <div class="row">
            <div class="mb-3">
                <div> <label for="username"> Nazwa użytkownika </label> </div>
                <div>
                    <input id="username" type="text"
                           th:field="*{username}"
                           placeholder="Username"
                           th:class=" 'form-control ' +${#fields.hasErrors('username') ? 'is-invalid' : ''}"/>
                        <small th:if="${#fields.hasErrors('username')}"
                               th:errors="*{username}"
                               class = "text-danger">
                        </small>
                </div>

                <div> <label for="userRealName"> Imię i nazwisko </label> </div>
                <div>
                    <input id="userRealName" type="text"
                           th:field="*{userRealName}"
                           placeholder="userRealName"
                           th:class="'form-control ' +${#fields.hasErrors('userRealName') ? 'is-invalid' : ''}" />
                    <small th:if="${#fields.hasErrors('userRealName')}"
                           th:errors="*{userRealName}"
                           class = "text-danger">
                    </small>
                </div>


                <div> <label for="password"> hasło </label> </div>
                <div>
                    <input id="password"
                           type="password"
                           th:field="*{password}"
                           placeholder="hasło"
                           th:class="'form-control ' +${#fields.hasErrors('password') ? 'is-invalid' : ''}" />
                    <small th:if="${#fields.hasErrors('password')}"
                           th:errors="*{password}"
                           class = "text-danger">
                    </small>
                </div>

                <div> <label for="repeatedPassword"> powtórzone hasło </label> </div>
                <div>
                    <input id="repeatedPassword"
                           type="password"
                           th:field="*{repeatedPassword}"
                           placeholder="hasło powtorzone"
                           th:class="'form-control ' +${#fields.hasErrors('repeatedPassword') ? 'is-invalid' : ''}" />
                    <small th:if="${#fields.hasErrors('repeatedPassword')}"
                           th:errors="*{repeatedPassword}"
                           class = "text-danger">
                    </small>
                </div>


                <div> <label for="email"> email </label> </div>
                <div>
                    <input id="email" type="text"
                           th:field="*{email}"
                           placeholder="email"
                           th:class="'form-control ' +${#fields.hasErrors('email') ? 'is-invalid' : ''}" />
                    <small th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}"
                           class = "text-danger">
                    </small>
                </div>


            </div>

            <div class="mb-3">
                Uprawnienia:

                <p th:each="authority : ${authorities}">
                    <input type="checkbox" name="authorities"
                           th:value="${authority.id}"
                           th:field="*{authorities}"/>

                    <label th:text="#{${'authority.' + authority.name}}"
                           th:for="${#ids.prev('authorities')}"></label>
                </p>

            </div>

        </div>

        <div>
        <button type="submit" class="btn btn-primary" th:text="Zapisz"></button>

        <a th:href="@{'/people/delete/' + ${person.id}}"
           th:if="${person.id} and ${person.enabled} and ${person.username}!='admin'"
           class="btn btn-danger" th:text="#{form.user.delete}">
            Usuń
        </a>

            <a th:href="@{'/people/delete/' + ${person.id}}"
               th:if="${person.id} and ${person.enabled==false} and ${person.username}!='admin'"
               class="btn btn-danger" th:text="#{form.user.undelete}">
                Przywróć
            </a>

            <a th:href="@{/people/}"
               class="btn btn-info" th:text="#{form.user.cancel}">
                Anuluj
            </a>


        </div>
    </form>



</div>

</body>
</html>