<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="main-content">
    <section class="container">

        <i class="fs-4 fst-normal bi-people"  th:text="#{list.users.title}"></i>

        <table class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{list.users.id}">
                    Id
                </th>
                <th th:text="#{list.users.username}">
                    Login
                </th>
                <th th:text="#{list.users.realusername}">
                    Nazwa
                </th>
                <th th:text="#{list.users.email}">
                    email
                </th>
                <th th:text="#{list.users.active}">
                    Czy aktywny
                </th>
                <th th:text="#{list.users.actions}">
                    Akcje
                </th>
            </tr>
            </thead>
            <tr th:each="person : ${people}">
                <td th:text="${person.id}">ID</td>
                <td th:text="${person.username}">username</td>
                <td th:text="${person.userRealName}">realusername</td>
                <td th:text="${person.email}">email</td>
                <td th:text="${person.enabled}? #{list.users.active} : #{list.users.deleted}">enabled disabled</td>
                <td>
                    <a th:href="@{'/people/edit/' + ${person.id}}"
                       th:text="#{list.users.edit}"
                       class="btn btn-secondary"></a>

                    <a th:href="@{'/people/delete/' + ${person.id}}"
                       th:if="${person.id} and ${person.enabled} and ${person.username}!='admin'"
                       class="btn btn-danger" th:text="#{form.user.delete}">
                        Usuń
                    </a>

                    <a th:href="@{'/people/delete/' + ${person.id}}"
                       th:if="${person.id} and ${person.enabled==false} and ${person.username}!='admin'"
                       class="btn btn-danger" th:text="#{form.user.undelete}">
                        Przywróć
                    </a>
                </td>
            </tr>
        </table>

        <div>
            <a th:href="@{'/people/create/'}"
               th:text="Dodaj"
               class="btn btn-primary"></a>
        </div>
    </section>

</div>

</body>
</html>