<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="main-content">
  <div class="container">


    <form th:action= "@{/people/saveedited}" th:object="${personForm}" method="post">

      <H1  th:text="#{form.user.old} + ' ' + ${personForm.username}"></H1>


      <input type="hidden" th:field="*{id}"/>
      <input type="hidden" th:field="*{username}"/>

      <div class="row">
        <div class="mb-3">


          <div> <label for="userRealName" th:text="#{form.user.realname}"> Imię i nazwisko </label> </div>
          <div>
            <input id="userRealName" type="text"
                   th:field="*{userRealName}"
                   th:placeholder="#{form.user.realname}"
                   th:class="form-control"
                   required/>
            <div class="invalid-feedback" th:text="#{NotEmpty.person.userRealName}"></div>
          </div>


          <div> <label for="email">email</label> </div>
          <div>
            <input id="email" type="text"
                   th:field="*{email}"
                   placeholder="email"
                   th:class="'form-control ' +${#fields.hasErrors('email') ? 'is-invalid' : ''}" />
            <small th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}"
                   class = "text-danger">
            </small>
          </div>

        </div>


      </div>

      <div>
        <button type="submit" class="btn btn-primary" th:text="#{form.user.save}"></button>




        <a th:href="@{/people/}"
           class="btn btn-info" th:text="#{form.user.cancel}">
          Anuluj
        </a>


      </div>
    </form>

  </div>
</div>

</body>
</html>