<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="main-content">
  <div class="container">


    <form th:action= "@{/people/saveedited}" th:object="${personForm}" method="post">

      <H1  th:text="#{form.user.old} + ' ' + ${personForm.username}"></H1>


      <input type="hidden" th:field="*{id}"/>

      <div class="row">
        <div class="mb-3">


          <div> <label for="username" th:text="#{form.user.username}"> Imię i nazwisko </label> </div>
          <div>
            <input id="username" type="text"
                   th:field="*{username}"
                   th:placeholder="#{form.user.username}"
                   th:class="'form-control ' + ${#fields.hasErrors('username') ? 'is-invalid' : ''}"/>
            <small class="text-danger" th:errors="*{username}"
                   th:if="${#fields.hasErrors('username')}"></small>
            <small class="text-danger" th:text="#{form.user.UsernameError}"
                   th:if="${#fields.hasErrors('valid')}"></small>
          </div>



          <div> <label for="userRealName" th:text="#{form.user.realname}"> Imię i nazwisko </label> </div>
          <div>
            <input id="userRealName" type="text"
                   th:field="*{userRealName}"
                   th:placeholder="#{form.user.realname}"
                   th:class="'form-control ' + ${#fields.hasErrors('userRealName') ? 'is-invalid' : ''}"/>
            <small class="text-danger" th:errors="*{userRealName}"
                   th:if="${#fields.hasErrors('userRealName')}"></small>
            <small class="text-danger" th:text="#{form.user.NameToShort}"
                   th:if="${#fields.hasErrors('userRealNameValid')}"></small>
          </div>


          <div> <label for="email">email</label> </div>
          <div>
            <input id="email" type="text"
                   th:field="*{email}"
                   placeholder="email"
                   th:class="'form-control ' +${#fields.hasErrors('email') ? 'is-invalid' : ''}" />
            <small th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}"
                   class = "text-danger">
            </small>
          </div>

        </div>

        <div class="mb-3">
          Uprawnienia:

          <p th:each="authority : ${authorities}">
            <input type="checkbox" name="authorities"
                   th:value="${authority.id}"
                   th:field="*{authorities}"/>

            <label th:text="#{${'authority.' + authority.name}}"
                   th:for="${#ids.prev('authorities')}"></label>
          </p>

        </div>


      </div>

      <div>
        <button type="submit" class="btn btn-primary" th:text="#{form.user.save}"></button>
        <a th:href="@{/people/}"
           class="btn btn-info" th:text="#{form.user.cancel}">
          Anuluj
        </a>


      </div>
    </form>

  </div>
</div>

</body>
</html>