<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="main-content">
  <section class="container">

    <i class="fs-4 fst-normal bi-stickies"  th:text="#{menu.issues}"></i>
    <table class="table table-striped">
      <thead>
      <tr>
        <th th:text="#{list.issues.id}">
          Id
        </th>
        <th th:text="#{list.issues.projectname}">
          nazwa projektu
        </th>
        <th th:text="#{list.issues.title}">
          tytuł zadania
        </th>
        <th th:text="#{list.issues.username}">
          Przydzielony użytkownik
        </th>
        <th th:text="#{list.issues.status}">
          Status
        </th>
        <th th:text="#{list.issues.typeOfIssue}">
          Status
        </th>

        <th th:text="#{list.issues.action}">
         Akcje
        </th>
      </tr>
      </thead>

    <tr th:each="issue : ${issues}">
      <td th:text="${issue.id}">ID</td>
      <td th:text="${issue.project.projectname}">nazwa projektu</td>
      <td th:text="${issue.title}">tytuł zadania</td>
      <td th:if="${issue.assignee != null}" th:text="${issue.assignee.username}"> nazwa usera </td>
      <td th:text="${issue.state}">Status</td>
      <td th:text="${issue.typeOfIssue}">Typ zadania</td>
      <td>
        <a th:href="@{'/issue/edit/' + ${issue.id}}"
           th:text="Edytuj"
           class="btn btn-secondary"></a>
      </td>
    </tr>
    </table>

    <div>
      <a th:href="@{'/issue/create/'}"
         th:text="Dodaj"
         class="btn btn-primary"></a>
    </div>

  </section>
</div>

</body>
</html>