<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>

<div layout:fragment="main-content">


  <section class="container">
    <i class="fs-4 fst-normal bi-stickies"  th:text="#{menu.issues}"></i>

    <form th:action="@{/issue}" th:object="${filter}"
          class="row">

        <select th:field="*{project}"
              class="form-control mb-2"
              onchange="this.form.submit()">
        <option th:value="${null}" th:text="#{filter.project.placeholder}">
        </option>
        <option th:each="project : ${projects}"
                th:value="${project.id}"
                th:text="${project.projectname}"></option>
      </select>


      <select th:field="*{assignee}"
              class="form-control mb-2"
              onchange="this.form.submit()">
        <option th:value="${null}" th:text="#{filter.assignee.placeholder}"></option>
        <option th:each="person : ${people}"
                th:value="${person.id}"
                th:text="${person.username}"></option>
      </select>

      <select th:field="*{state}"
              class="form-control mb-2"
              onchange="this.form.submit()">
        <option th:value="${null}" th:text="#{filter.state.placeholder}"></option>
        <option th:each="state : ${states}"
                th:value="${state}"
                th:text="${#messages.msg('stateName.' + state)}"></option>
      </select>

      <select th:field="*{typeOfIssue}"
              class="form-control mb-2"
              onchange="this.form.submit()">
        <option th:value="${null}" th:text="#{filter.typeofissue.placeholder}"></option>
        <option th:each="typeOfIssue : ${typeOfIssues}"
                th:value="${typeOfIssue}"
                th:text="${#messages.msg('typeOfIssue.' + typeOfIssue)}"></option>
      </select>
      <input th:field="*{title}"
             class="form-control mb-3"
             th:placeholder="#{filter.title.placeholder}"/>
      <input th:field="*{globalSearch}"
             class="form-control mb-3"
             th:placeholder="#{filter.globalSearch.placeholder}"/>
      <button class="btn btn-success btn-sm" type="submit" th:text="#{common.search}"></button>
      <a th:href="@{/issue}" th:text="#{common.clear}" class="btn btn-info btn-sm"></a>
    </form>



    <div class="container">
    <table class="table table-striped">
      <thead>
      <tr>
        <th th:text="#{list.issues.id}">
          Id
        </th>
        <th th:text="#{list.issues.projectname}">
          nazwa projektu
        </th>
        <th th:text="#{list.issues.title}">
          tytuł zadania
        </th>
        <th th:text="#{list.issues.username}">
          Przydzielony użytkownik
        </th>
        <th th:text="#{list.issues.status}">
          Status
        </th>
        <th th:text="#{list.issues.typeOfIssue}">
          Status
        </th>

        <th th:text="#{list.issues.action}">
         Akcje
        </th>
      </tr>
      </thead>

    <tr th:each="issue : ${issues}">
      <td th:text="${issue.id}">ID</td>
      <td th:text="${issue.project.projectname}">nazwa projektu</td>
      <td th:text="${issue.title}">tytuł zadania</td>
      <td th:if="${issue.assignee != null}" th:text="${issue.assignee.username}"> nazwa usera </td>
      <td th:text="#{'stateName.'+${issue.state}}">Status</td>
      <td th:text="#{'typeOfIssue.'+${issue.typeOfIssue}}">Typ zadania</td>
      <td>
        <a th:href="@{'/issue/edit/' + ${issue.id}}"
           th:text="Edytuj"
           class="btn btn-secondary btn-sm m-0 py-1 px-2"></a>
        <a th:href="@{'/issue/delete/' + ${issue.id}}"
           th:if="${issue.id}"
           class="btn btn-danger btn-sm m-0 py-1 px-2" th:text="#{form.user.delete}">
          Usuń
        </a>
      </td>
    </tr>
    </table>


    <div>
      <a th:href="@{'/issue/create/'}"
         th:text="Dodaj"
         class="btn btn-primary"></a>
    </div>
    </div>
  </section>
</div>

</body>
</html>